<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <title>首页</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/swiper-3.3.1.min.css">
</head>
<body>
<div id="index"></div>

<script src="../static/js/third/jquery.min.js"></script>
<script src="../static/js/third/swiper-3.3.1.min.js"></script>
<script src="../dist/js/page-index.js"></script>

</body>
</html>
