/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/4
 */

%text-link {
    background-color: $color-link;
    text-align: center;
    color: #fff;
}

%ffull {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

%pd {
    padding: 10px 15px;
}

%borer-tb {
    border-top: 1px $color-border solid;
    border-bottom: 1px $color-border solid;
}

// 外围盒子
%box {
    @extend %borer-tb;
    background-color: #fff;
}
