/**
 * @file 定义常见功能类
 * @auth jinguangguo
 * @date 2016/8/14
 */

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.fn-block {
    display: block;
}

.fn-ellipsis-row {
    overflow : hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.fn-mt15 {
    margin-top: 15px;
}

.fn-mt10 {
    margin-top: 10px;
}

.fn-mt5 {
    margin-top: 5px;
}

.fn-mb15 {
    margin-bottom: 15px;
}

.fn-mb10 {
    margin-bottom: 10px;
}

.fn-mb5 {
    margin-bottom: 5px;
}

.fn-none {
    display: none;
}