/**
 * @file 定义常见功能类
 * @auth jinguangguo
 * @date 2016/8/14
 */

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}
//定义：超文本传送协议 (HTTP-Hypertext transfer protocol) 是分布式，协作式，超媒体系统应用之间的通信协议。是万维网（world wide web）交换信息的基础。
减少冗余的数据传输
缓解网络瓶颈的问题
降低对原始服务器的要求
降低距离时延



.fn-ellipsis-row {
    overflow : hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.fn-mt15 {
    margin-top: 15px;
}

.fn-mt10 {
    margin-top: 10px;
}

.fn-mt5 {
    margin-top: 5px;
}

.fn-mb15 {
    margin-bottom: 15px;
}

.fn-mb10 {
    margin-bottom: 10px;
}

.fn-mb5 {
    margin-bottom: 5px;
}

.fn-none {
    display: none;
}