/**
 * @file 定义网站主题
 * @auth jinguangguo
 * @date 2016/8/14
 */

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    line-height: 1.4;
    background-color: $color-bg;
}

html, body {
    height: 100%;
}

a {
    outline: none;
    color: $color-font;
    text-decoration: none;

    &:hover,
    &:active {
        text-decoration: none;
        color: $color-font;
    }

    &:focus {
        outline: 0 none;
    }
}

label {
    margin-bottom: 0;
    font-weight: normal;
}

td {
    word-break: break-all;
}

input[type="radio"],
input[type="checkbox"] {
    border: 1px $color-link solid;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

input[type="radio"] {
    &:checked {
        border: 5px $color-link solid;
        background-color: #fff;
    }
}