/**
 * @file 定义ui组件的样式
 * @auth jinguangguo
 * @date 2016/8/14
 */

.ui-loader {

}

.ui-title {

}

%text {
    background-color: $color-link;
    text-align: center;
    color: #fff;
}

%ffull {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.ui-btn {
    height: px(88px);
    line-height: px(88px);
    @extend %text;
    &-fixed {
        @extend %ffull;
    }
}

.ui-tab {
    @extend %text;
    padding: px(30px) 0;
    display: flex;
    &-fixed {
        @extend %ffull;
        height: px(100px);
    }
    .item {
        display: block;
        flex: 1;
        border-right: 1px #fff solid;
        color: #a7d1b9;
        &--active {
            color: #fff;
            pointer-events: none;
        }
        &:last-child {
            border-right: 0 none;
        }
    }
}

.ui-select {
    width: 100%;
    height: px(48px);
    border: 1px solid $color-border;
    padding-left: px(48px);
    background-color: #fff;
}

%box {
    border-top: 1px $color-border solid;
    border-bottom: 1px $color-border solid;
    background-color: #fff;
}

.ui-form {
    @extend %box;
    padding-left: px(30px);
    .item {
        border-bottom: 1px $color-border solid;
        &:last-child {
            border-bottom: 0;
        }
        label {
            display: flex;
            .for {
                flex: 3;
                margin: px(24px) px(40px) px(24px) 0;
                padding-right: 5px;
                text-align: left;
                border-right: 1px $color-border solid;
            }
            .input-box {
                display: block;
                flex: 10;
                width: 100%;

                %padding-tp {
                    padding: 12px 0;
                }

                .input {
                    @extend %padding-tp;
                }
                span {
                    @extend %padding-tp;
                    text-align: center;
                }

                &--select {
                    select {
                        margin: 12px 0;
                        width: 80%;
                    }
                }
            }
        }
    }
}

.ui-card {
    @extend %box;
    &--right {
        .item {
            .text {
                text-align: right;
            }
        }
    }
    .item {
        display: flex;
        padding: 10px 15px;
        border-bottom: 1px $color-border solid;
        //height: 22px;
        //line-height: 22px;
        &:last-child {
            border-bottom: 0;
        }
        label {
            display: block;
            flex: 1;
        }
        .text {
            display: block;
            flex: 2;
            color: $color-font-gray;
            font-size: 15px;
            line-height: 1.2;
        }
    }
}