/**
 * @file 定义ui组件的样式
 * @auth jinguangguo
 * @date 2016/8/14
 */

.ui-loader {

}

.ui-title {
    padding: px(20px) px(30px);
    font-weight: bold;
    background-color: #fff;
    .text {
        border-left: 3px $color-link solid;
        padding-left: px(30px);
        font-size: 15px;
    }
}

.ui-btn {
    height: px(88px);
    line-height: px(88px);
    @extend %text-link;
    &-fixed {
        @extend %ffull;
    }
}

.ui-tab {
    @extend %text-link;
    padding: 15px 0;
    display: flex;
    .item {
        display: block;
        flex: 1;
        line-height: 1;
        border-right: 1px #fff solid;
        color: #a7d1b9;
        &--active {
            color: #fff;
            pointer-events: none;
        }
        &:last-child {
            border-right: 0 none;
        }
    }
    &-fixed {
        @extend %ffull;
    }
    &-white {
        .item {
            color: #fff;
        }
    }
}

.ui-select {
    width: 100%;
    height: px(52px);
    line-height: px(52px);
    border: 1px solid $color-border;
    padding-left: px(48px);
    background-color: #fff;
    option:first-child {
        color: $color-font-gray;
    }
}

.ui-form {
    @extend %box;
    &-gray {
        background-color: $color-bg;
        select {
            background-color: $color-bg;
        }
    }
    .item {
        border-bottom: 1px $color-border solid;
        &:last-child {
            border-bottom: 0;
        }
        label {
            display: block;
            .for {
                float: left;
                box-sizing: border-box;
                width: 85px;
                padding: 12px 5px 12px 15px;
                text-align: left;
                border-right: 1px $color-border solid;
            }
            .input-box {
                position: relative;
                display: block;
                margin-left: 85px;
                >.icon-box {
                    position: absolute;
                    right: 0;
                    top: 3px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }

                .input {
                    box-sizing: border-box;
                    padding: 12px 15px;
                    &-block {
                        display: block;
                        width: 100%;
                    }
                }
                span {
                    padding: 12px 15px;
                    text-align: center;
                    font-size: 15px;
                }

                &--select {
                    padding-left: 15px;
                    select {
                        margin: 9px 0;
                        width: 80%;
                    }
                }
            }
        }
    }
    &-textarea {
        background-color: $color-bg;
        border: 0 none;
        .item {
            label {
                .input-box {
                    margin: 5px 15px 0;
                    border: 1px $color-border solid;
                    textarea {
                        display: block;
                        box-sizing: border-box;
                        width: 100%;
                        padding: 8px;
                        background-color: #fff;
                    }
                }
            }
        }

    }
}

.ui-card {
    @extend %box;
    &--right {
        .item {
            .text {
                text-align: right;
            }
        }
    }
    .item {
        display: flex;
        padding: 10px 15px;
        border-bottom: 1px $color-border solid;
        //height: 22px;
        //line-height: 22px;
        font-size: 15px;
        &:last-child {
            border-bottom: 0;
        }
        label {
            display: block;
            flex: 1;
        }
        .text {
            display: block;
            flex: 2;
            padding-top: 2px;
            color: $color-font-gray;
            line-height: 1.2;
            font-size: 14px;
        }
    }
}
