/**
 * @file 定义ui组件的样式
 * @auth jinguangguo
 * @date 2016/8/14
 */

.ui-loader {

}

.ui-title {

}

.ui-btn {
    height: px(88px);
    line-height: px(88px);
    background-color: $color-link;
    width: 100%;
    text-align: center;
    color: #fff;
    &-fixed {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

.ui-form {
    border-top: 1px $color-border solid;
    border-bottom: 1px $color-border solid;
    background-color: #fff;
    padding-left: px(30px);
    .item {
        border-bottom: 1px $color-border solid;
        &:last-child {
            border-bottom: 0;
        }
        label {
            display: flex;
            .for {
                flex: 2;
                padding: px(24px) 0;
                text-align: right;
                margin-right: px(40px);
            }
            .input-box {
                display: block;
                flex: 8;
                width: 100%;
                %padding-tp {
                    padding: 12px 0;
                }
                .input {
                    @extend %padding-tp;
                }
                span {
                    @extend %padding-tp;
                    text-align: center;
                }
            }
        }
    }
}