/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/4
 */

.module-msg-chat {
    padding: 20px 15px 60px 15px;
    .list {
        color: $color-font-gray;
        .item {
            margin-bottom: 20px;
            .time {
                margin-bottom: 12px;
                text-align: center;
                .time-box {
                    display: inline-block;
                    padding: 2px 15px;
                    border-radius: 10px;
                    background-color: #dedede;
                    color: #fff;
                }
            }
            .detail {
                .img-box {
                    width: 50px;
                    text-align: center;
                    .name {
                        @include ellipsis-box(2);
                    }
                }
                .info {
                    max-width: 150px;
                    padding: 8px;
                    background-color: #fff;
                    word-break: break-all;
                }
            }

            &-left {
                .img-box, .info {
                    float: left;
                }
            }
            &-right {
                .img-box, .info {
                    float: right;
                }
            }
        }
    }
    .send-msg {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        .msg-box {
            display: flex;
            .msg-input {
                flex: 4;
                display: block;
                border: 1px solid $color-border;
                padding: 8px 5px;
                background-color: #fff;
                margin-right: 3px;
                font-size: 16px;
                line-height: 1.8;
            }
            .btn {
                flex: 1;
                display: block;
            }
        }
    }
}