
@import "../../scss/base";

.module-login{
  .background{
    width:100%;
    min-height: 180px;
    position: relative;
  }
  .portrait{
    width:100px;
    margin-left:-50px;
    left:50%;
    position: absolute;
    top:35px;
  }
  .portrait-div{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: rgba(219,240,228,.5);
  }
  .portrait-div img{
    width: 90px;
    margin:5px;
  }
  .portrait-p{
    text-align: center;
    font-size: 20px;
    color:#666;
    margin-top:10px;
  }
  .verify{
    width:90%;
    margin: 30px 5% 0 5%;
  }
  .verify-mobile,.verify-sms{
    width:100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d1d1d1;
  }
  .verify-mobile input,.verify-sms input{
    height: 50px;
    width: 50%;
    font-size: 16px;
    color:#39ac6a;
  }
  .verify-mobile img{
    width:20px;
    vertical-align: middle;
    padding-right:20px;
  }
  .verify-mobile span{
    height:40px;
    text-align: center;
    width:80px;
    float: right;
    background-color: #f7f7f7;
    border:1px solid #e5e5e5;
    line-height:40px;
    color:#999;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 5px;
  }
  .verify-mobile span.active{
    border:none;
    background-color:#39ac6a;
    color:#fff;
  }
  .verify-mobile span.after{
    border:none;
    background-color:#9cd5b4;
    color:#fff;
  }
  .verify-sms img{
    width:30px;
    vertical-align: middle;
    padding-right:10px;
  }
  .verify-submit{
    background-color:#39ac6a;
    color:#fff;
    width:100%;
    margin-top:40px;
    float: left;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  .others{
    width:90%;
    margin:50px 5%;
    float: left;
    border-top:1px solid #dedede;
  }
  .others p{
    font-size: 14px;
    line-height: 20px;
    float: left;
    width:100px;
    text-align: center;
    background-color: #fff;
    margin-top:-10px;
    left:50%;
    margin-left:-50px;
    position: relative;
    color:#ccc;
  }
  .others img{
    float: left;
    text-align: center;
    width:80px;
    position: absolute;
    margin:30px 0 0 -40px;
    left:50%;
  }
}