/**
 * @file
 * @auth jinguangguo
 * @date 2016/9/17
 */

.module-shop-add {
    padding-bottom: 80px;
    .header {

    }
    .article {
        .ui-title {
            margin-bottom: 5px;
        }
        .article-box {
            margin-top: 15px;
        }
    }
}