/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/6
 */

.module-list {
    $width: 54px;
    .header {
        padding: 15px;
        overflow: hidden;
        background-color: #fff;
        border-bottom: 1px $color-border solid;
        .list-box {
            box-sizing: border-box;
            overflow-x: auto;
            .list {
                width: $width * 7;
                .item {
                    float: left;
                    width: $width;
                    font-size: 12px;
                    text-align: center;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .ui-list{
        margin: 50px 0 100px 0;
    }
    .ui-btn{
        bottom: 59px;
    }
    .ui-top-select{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 100;
    }
}