/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/4
 */

.btn-code {
    position: absolute;
    right: 0;
    top: 0;
}

.ui-btn-groups {
    margin-top: 145px;
}

.ui-card >.item {
    align-items: center;
}
