/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/6
 */

.module-add {
    padding-bottom: 60px;
    .ui-btn{
        bottom: 59px;
    }
    .ui-check-tip{
        margin-bottom:50px;
    }
}
.ui-check-tip label .tip-box .icon-show{
    display:block;
}
.textarea{
    resize: none;
}