/**
 * @file
 * @auth jinguangguo
 * @date 2016/9/24
 */

.module-tabs {
    background-color: #fff;
    margin-bottom: 10px;
}

.module-list {
    padding: 5px 10px 0 10px;
    .Arrival-component {
        margin-top: 10px;
        background-color: $color-bg;
    }
}
.module-list-seat{
    .ui-table .thead{
        position: fixed;
        top:0;
        left:0;
        width:100%;
    }
    .ui-table  .tbody{
        margin: 40px 0 60px 0;
    }
}