@font-face {
    font-family: "Icons";
    src: url('../../font/Icons.eot');
    src: url('../../font/Icons.eot?#iefix') format('eot'),
    url('../../font/Icons.woff') format('woff'),
    url('../../font/Icons.ttf') format('truetype'),
    url('../../font/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
    font-family: "Icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

@if $filename == check {
    $char: "\E001";
}
@if $filename == identity {
    $char: "\E002";
}
@if $filename == location {
    $char: "\E003";
}
@if $filename == love {
    $char: "\E004";
}
@if $filename == plus {
    $char: "\E005";
}
@if $filename == right {
    $char: "\E006";
}
@if $filename == setting {
    $char: "\E007";
}
@if $filename == slide-down {
    $char: "\E008";
}
@if $filename == slide-up {
    $char: "\E009";
}
@if $filename == 个人中心 {
    $char: "\E00A";
}
@if $filename == 位置 {
    $char: "\E00B";
}
@if $filename == 公司联系人-发消息 {
    $char: "\E00C";
}
@if $filename == 关注我的 {
    $char: "\E00D";
}
@if $filename == 关闭 {
    $char: "\E00E";
}
@if $filename == 发布 {
    $char: "\E00F";
}
@if $filename == 展开 {
    $char: "\E010";
}
@if $filename == 我的服务 {
    $char: "\E011";
}
@if $filename == 手机 {
    $char: "\E012";
}
@if $filename == 搜索 {
    $char: "\E013";
}
@if $filename == 联系电话 {
    $char: "\E014";
}
@if $filename == 设置 {
    $char: "\E015";
}
@if $filename == 返回 {
    $char: "\E016";
}
@if $filename == 首页 {
    $char: "\E017";
}
@if $filename == 验证码 {
    $char: "\E018";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
    @if $extend {
        @extend %icon;
    } @else {
        @include icon-styles;
    }
        content: icon-char($filename);
    }
}

.icon-check {
    @include icon(check);
}
.icon-identity {
    @include icon(identity);
}
.icon-location {
    @include icon(location);
}
.icon-love {
    @include icon(love);
}
.icon-plus {
    @include icon(plus);
}
.icon-right {
    @include icon(right);
}
.icon-setting {
    @include icon(setting);
}
.icon-slide-down {
    @include icon(slide-down);
}
.icon-slide-up {
    @include icon(slide-up);
}
.icon-个人中心 {
    @include icon(个人中心);
}
.icon-位置 {
    @include icon(位置);
}
.icon-公司联系人-发消息 {
    @include icon(公司联系人-发消息);
}
.icon-关注我的 {
    @include icon(关注我的);
}
.icon-关闭 {
    @include icon(关闭);
}
.icon-发布 {
    @include icon(发布);
}
.icon-展开 {
    @include icon(展开);
}
.icon-我的服务 {
    @include icon(我的服务);
}
.icon-手机 {
    @include icon(手机);
}
.icon-搜索 {
    @include icon(搜索);
}
.icon-联系电话 {
    @include icon(联系电话);
}
.icon-设置 {
    @include icon(设置);
}
.icon-返回 {
    @include icon(返回);
}
.icon-首页 {
    @include icon(首页);
}
.icon-验证码 {
    @include icon(验证码);
}