/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/6
 */

.module-list {
    $width: 54px;
    .header {
        padding: 15px;
        overflow: hidden;
        background-color: #fff;
        border-bottom: 1px $color-border solid;
        .list-box {
            box-sizing: border-box;
            overflow-x: auto;
            .list {
                width: $width * 7;
                .item {
                    float: left;
                    width: $width;
                    font-size: 12px;
                    text-align: center;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .article{
        margin-bottom:50px;
    }
    .green{
        color:#39ac6a;
    }
}