/**
 * @file
 * @auth jinguangguo
 * @date 2016/9/15
 */

@import "../../scss/base";

body {
    background-color: $color-bg;
}

.ui-title {
    padding: px(20px) px(30px);
    font-weight: bold;
    background-color: #fff;
    .text {
        border-left: 3px $color-link solid;
        padding-left: px(30px);
    }
}

// 头部筛选
.ui-top-select {
    height: px(88px);
    line-height: px(88px);
    background-color: #fff;
    padding: 0 px(30px);

    .item {
        display: inline-block;
        vertical-align: middle;
        margin-right: px(30px);
        &:last-child {
            margin-right: 0;
        }
        .for {
            margin-right: 3px;
            vertical-align: middle;
        }
        .select {
            width: px(104px);
            height: px(50px);
            background-color: #fbfbfb;
            color: #666;
            border: 1px $color-border solid;
            font-size: 14px;
            vertical-align: middle;
        }
    }
}

.module-shop {

}

@import "add/style";
@import "detail/style";
@import "home/style";
@import "list/style";