
.Market-component {
    position: relative;
    padding: 10px 5px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    .box {
        font-size: 12px;
        img {
            float: left;
            box-sizing: border-box;
        }
        .info {
            margin-left: 80px;
            .left {
                float: left;
                width: 60%;
                padding-left: 2%;
                p {
                    padding: 2px 0;
                    color: #b6b6b6;
                    span {
                        color: #666;
                    }
                    &:first-child {
                        color: #333;
                        span {
                            box-sizing: border-box;
                            border-left: 1px solid #e6e6e6;
                            padding: 0 2px;
                            &:first-child {
                                border-left: none;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
            .right {
                width: 40%;
                padding-left: 2%;
                float: left;
                p {
                    padding: 2px 0;
                    color: #b6b6b6;
                    &:first-child {
                        color: #b6e3c9;
                    }
                    span {
                        color: #666;
                    }
                }
            }
        }
    }
}