/**
 * @file
 * @auth jinguangguo
 * @date 2016/9/26
 */

$color-border: #e6e6e6;
$color-font-gray: #999;

.Shop-component {
    .info {
        padding: 8px;
        border-bottom: 1px $color-border solid;
        .img {
            float: left;
        }
        .info-detail {
            margin-left: 55px;
            .title {
                .title-location {
                    float: right;
                    margin-top: 2px;
                    line-height: 1;
                    color: $color-font-gray;
                    .icon {
                        margin-right: 3px;
                        font-size: 20px;
                    }
                }
                .title-name {
                    font-size: 18px;
                    vertical-align: middle;
                }
            }
            .sub-title {
                font-size: 13px;
                color: $color-font-gray;
            }
            .desc {
                margin-top: 4px;
                color: $color-font-gray;
                font-size: 14px;
            }
        }
    }
    .goods-box {
        overflow-x: hidden;
        padding: 10px;
        .goods {
            width: 99999em;
            >.item {
                float: left;
                margin-right: 8px;
                img {
                    display: block;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
