<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>到货列表</title>
    <link href="../../static/lib/bootstrap.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script src="../../static/js/third/jquery.min.js"></script>
<!--<script src="//cdn.bootcss.com/react/15.3.1/react.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/react/15.3.1/react-dom.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/react-router/2.7.0/ReactRouter.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/react-bootstrap/0.30.3/react-bootstrap.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/react-redux/5.0.0-beta.1/react-redux.min.js"></script>-->
<script src="../../dist/js/page-arrival.js"></script>
</body>
</html>