@import "../../scss/base";
.modal-ask-buy{
  .select{
    width:96%;
    padding:0 2%;
    float: left;
    border-bottom:1px solid #e6e6e6;
    .div{
      width:25%;
      float: left;
      line-height: 40px;
      select{
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        width:50%;
        height:30px;
        box-sizing: border-box;
        background-color: #fbfbfb;
        border:1px solid #e6e6e6;
        border-radius: 0;
        margin-left: 2%;
        text-align: center;
      }
    }
  }
}