/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/4
 */

@import "../../scss/base";

body {
    background-color: $color-bg;
}

@mixin doItem() {
    padding: 10px 8px;
    .list {
        >.item {
            margin-bottom: 8px;
            >.item-link {
                position: relative;
                display: block;
                &:last-child {
                    margin-bottom: 0;
                }
                .component {
                    width: 87%;
                }
                .ui-do {
                    width: 13%;
                }
            }
        }
    }
}

.no-data {
    padding: 20px 0;
    text-align: center;
    color: $color-font-gray;
}

@import './Feedback/style';
@import "Index/style";
@import "Info/style";
@import "MsgChat/style";
@import "MsgList/style";
@import "MyAskBuy/style";
@import "MyCare/style";
@import "MyMarket/style";
@import "MyService/style";
@import "Setting/style";
