/**
 * @file
 * @auth jinguangguo
 * @date 2016/9/17
 */

.module-shop-detail {
    .header {
        padding: 30px 15px;
        background-color: #fff;
        .img {
            float: left;
            img {
                display: block;
            }
        }
        .info {
            margin-left: 70px;
            .title {

            }
            .sub-title {
                color: $color-font-gray;
                font-size: 12px;
            }
            .care {
                margin-top: 5px;
                font-size: 14px;
                color: $color-font-gray;
            }
        }
    }
    .tabs {
        margin: 10px 0;
        background-color: #fff;
        .item {
            float: left;
            padding: 5px 0;
            font-size: 14px;
            text-align: center;
            &:first-child, &:last-child {
                width: 49%;
            }
            .num {

            }
            .tip {
                color: $color-font-gray;
            }
        }
        .divide {
            float: left;
            margin-top: 12px;
        }
    }
    .detail {
        margin-top: 10px;
    }
    .qrcode {
        $border-radius: 8px;

        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;

        .qrcode-close {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            text-align: center;
            font-size: 24px;
        }

        .qrcode-box {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    }
}