/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/4
 */

.module-service {
    @include doItem();
    .tips{
        color:#bebebe;
        text-align: center;
        font-size: 20px;
    }
    .list{
        margin-bottom:60px;
    }
}