/**
 * @file
 * @auth jinguangguo
 * @date 2016/9/24
 */

.module-detail {
    padding-bottom: 60px;
    .detail-box {
        padding: 8px;
        >.content {
            font-size: 13px;
            .info {
                padding: 10px;
                border-bottom: 1px $color-border solid;
                background-color: #fff;
            }
        }
        .detail {
            >.title {
                @include detailTitle;
            }
            >.content {
                font-size: 13px;
                >.Text-component {
                    background-color: #f5f4f4;
                }
            }
        }
        .do {
            .ui-tab {
                padding: 12px 0;
                background-color: #fff;
                .item {
                    color: $color-link;
                    border-right: 1px $color-border solid;
                    &:last-child {
                        border-right: 0 none;
                    }
                }
            }
        }
    }
    .footer {
        .btn-care {
            display: inline-block;
            padding: 3px;
            font-size: 12px;
            background-color: #fff;
            border-radius: 3px;
            color: $color-link;
        }
    }
}